java-aprendendo-a-sintaxe/tipos-e-variaveis/.vscode/settings.json
java-aprendendo-a-sintaxe/operadores/.vscode/settings.json
java-aprendendo-a-sintaxe/metodos/.vscode/settings.json
java-aprendendo-a-sintaxe/anatomia-classes/.vscode/launch.json
logica-condicional-e-controles-de-fluxo/operadores-logicos/.vscode/settings.json
logica-condicional-e-controles-de-fluxo/operadores-relacionais/.vscode/settings.json
logica-condicional-e-controles-de-fluxo/controle-de-fluxo/.vscode/settings.json
logica-condicional-e-controles-de-fluxo/estruturas-de-repeticao/.vscode/settings.json
